#buscador {
    font-family: 'Balsamiq Sans';
    color: #492c20;
    background-color: rgb(151, 239, 245);
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}